@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1120px;
  margin: auto;
}

.resizable-panel {
  margin-left: 3%;
  transition: 0.4s ease-in-out;
}

.resizable-panel_short {
  margin-left: 28%;
}
