.left-panel {
  position: fixed;
  top: 65px;
  left: 0;
  width: 25%;
  background-color: rgba(31, 41, 55, 1);
  height: 100%;
  transform: translate(0%, 0%);
  transition: 0.4s ease-in-out;
}

.left-panel_open {
}

.left-panel_hide {
  transform: translate(-100%, 0%);
}

.panel-close_button {
  position: absolute;
  right: -30px;
}

.leftPanel_header {
  display: flex;
  flex-wrap: wrap;
}
.leftPanel_header-item {
  padding: 5px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  transition: 0.4s ease-in-out;
}

.leftPanel_header-item_active {
  background-color: rgba(17, 24, 39, 1);
  color: white;
}
