.employee-panel {
  position: fixed;
  top: 65px;
  left: 0;
  width: 25%;
  background-color: rgba(31, 41, 55, 1);
  height: 100%;
  transform: translate(0%, 0%);
  transition: 0.4s ease-in-out;
}

.employee-panel_open {
}

.employee-panel_hide {
  transform: translate(-100%, 0%);
}

.panel-close_button {
  position: absolute;
  top: 0;
  right: -30px;
}
